$imgpath: "../img";
$bkcolor: #fafafa;
// $bkcolor: darkslateblue;

body,.container.main_div{
    /*background-color: #fafafa;*/
}

body{
	background-color:$bkcolor;
	line-height: 1.5;
	color: #000000;
	font-family: Helvetica,Arial,sans-serif;
}

li{
    list-style: none;
     /*padding-right: 100px;*/
}

ul{
    padding: 0px;
}

li.post-min:first-child{
    margin-top: 5em;
    /*margin-top: 8%;*/
}
.min-heading{
    margin: 0px;
    margin-bottom: 3px;
}
.min-desc{
    margin: 0px;
    margin-top: 3px;
    color: #505050;
}
.min-date{
    margin: 0px;
    margin-top: 3px;
    color: #505050;
}

/* min post card styling */
.post{ 
    border-bottom: .05em dotted black;
    margin-bottom: 10px;
    padding: 10px;
}

.post-min{
    padding-bottom: 5px;
    padding-top: 5px;
    /*margin: 7px;*/ 
}
.post-min:hover{
    cursor: pointer;
}

.main-view{
    max-width: 51rem;
    /*max-width: 50%;*/
    margin-left: 28.5%;
    margin-right: 30%;
    padding: 21px;
    z-index: 1;	
}

li.post-max{
    padding: 5px;
}

a{
  color: black;
  text-decoration: none;
}
a strong{
  color: inherit;
}

a:hover{
  text-decoration: underline;
}
/*a:focus {
  text-decoration: none;
}
a:active{
  text-decoration: underline;
}
*/

h1 {
  font-size: 2em;
}

h2 {
  margin-top: 1em;
  font-size: 1.5em;
}

h3 {
  margin-top: 1.2em;
  font-size: 1.25em;
}

h4, h5, h6 {
  margin-top: 1em;
  font-size: 1em;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5em;
}