$imgpath: "../img";
$bkcolor: #fff;
$pre-bkcolor: #f9f9f9;
// $bkcolor: #fafafa;

body{
	background-color:$bkcolor;
	line-height: 1.5;
	color: #000000;
	font-family: Helvetica,Arial,sans-serif;
	// max-width: 98vw;
}
.main-view{
	z-index: 1;	
	display: inline-block;
	margin: auto;
	width: 100%;
	// padding: 18px;
}

.center{
	display: block;
	margin: auto;
}

.center > *{
	width: 100%;
	display: block;
	text-align: center;
}

.center ul{
	max-width: 50%;
}

.center-template{
	margin-left: 28%;
	margin-right: 28%;
	padding: 21px;
	max-width: 50%;
}

.main-template{
	max-width: 50%;
	margin-left: 28.4%;
	margin-right: 31%;
	padding: 21px;
	margin-top: 31px;
}

.markdown-content{
	margin: auto;
	max-width: 35rem;
	padding: 2em;
    margin-left: 28%;
    margin-right: 29%;
}

.main-template .markdown-content{
	margin: auto;
	max-width: 100rem;
	padding: 0em;
    margin-left: 0em;
    margin-right: 0em;
    border-bottom: 1px dotted black;
    padding: 5px;
}
   // static-max view
li .markdown-content{
	margin: auto;
	padding: 0em;
	// max-width: 35rem;
	// padding: 2em;
}

.markdown-content pre{
	background-color: $pre-bkcolor;
	padding: 1rem;
	white-space: pre-wrap;
}

.fakelink{
	color: black;
	text-decoration: none;
	cursor:pointer;
}

.fakelink:hover{
	color: blue;
	text-decoration: underline;
}

.menu{
	width: 100%;
	display: inline-block;
	margin-bottom: 2.5em;
	// max-height: 2em;
	// overflow: hidden;
}

.menu a{
	margin-right: 30px;
	color: #505050;
	display: inline-block;
}
.menu a:last-child{
	margin-right: 0px;
}

.gh-logo{
    background-size: 22px 22px;
    margin: 0px;
    width: 22px;
    height: 22px;
  	content: url(#{$imgpath}/github.svg);
}

.menu-title{
	font-weight: 700;
	font-size: 24px;
}

.menu-sub{
	font-weight: 400;
	font-size: 18px;
}

.menu-sel{
	text-decoration-line: underline;
}

.sidemenu{
	float: left;
	padding-left:8px;
	padding-top:8px;
	position: absolute;
	left: 8px;
}

.sidemenu > li{
	width: 20px;
}

a{
  color: black;
  text-decoration: none;
}

a strong{
  color: inherit;
}

a:hover{
  // color: blue;
  text-decoration: underline;
}

img {
  max-width: 100%;
}

ul{
    padding: 0px;
    width: 100%;
    margin: auto;
    padding-top: 2em;
}

li{
    list-style: none;
}

li.post-min:first-child{
    // margin-top: 2em;
}

li.post-max{
    padding: 5px;
}

.min{
	text-align: left;
}

.min.heading{
    margin: 0px;
    margin-bottom: 3px;
}
.min.link{

}
.min.desc{
    margin: 0px;
    margin-top: 3px;
    color: #505050;
}
.min.date{
    margin: 0px;
    margin-top: 3px;
    color: #505050;
}

/* min post card styling */
.post{ 
    border-bottom: .05em dotted black;
    margin-bottom: 10px;
    padding: 10px;
}

.post-min{
    padding-bottom: 5px;
    padding-top: 5px;
    /*margin: 7px;*/ 
}
.post-min-static{
    padding-bottom: 5px;
    padding-top: 5px;
}
.post-min:hover{
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
margin-bottom:.3em;
line-height:1.25;
color:#000000;
text-rendering:optimizeLegibility
}

code,pre {
font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace
}

code {
padding:.25em .5em;
font-size:85%;
background-color:$pre-bkcolor
}

pre {
margin-top:0;
margin-bottom:1em;
font-size:.8em
}

pre code {
padding:0;
font-size:100%;
}

blockquote {
padding:.5em 1em;
margin:.8rem 0;
color:#7a7a7a;
border-left:.25em solid #e5e5e5
}


h1 {
  font-size: 2em;
}

h2 {
  margin-top: 1em;
  font-size: 1.5em;
}

h3 {
  margin-top: 1.2em;
  font-size: 1.25em;
}

h4, h5, h6 {
  margin-top: 1em;
  font-size: 1em;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5em;
}